.authLayoutWrapper {
  position: relative;
  background-color: #4AA181;
  height: 100vh;
}

.authImageLayoutLogo {
  display: block;
  margin: 20px auto;
  width: 90px;
  height: 90px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 899px) {
  .signin {
    margin-top: 0px;
  }

  .authLayoutWrapper {
    height: 0vh;
  }

  .authImageLayoutLogo {
    width: 70px !important;
    height: 70px !important;
  }

  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
  }
}